*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --rubik: 'Rubik', sans-serif;
}
header{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 200px;
}
article > img{
    width: 100%;
}
.tablet-e-favorito{
    margin-top: 70px;
    display: grid;
}
div{
    top: 290px;
    right: 0;
    position: absolute;
    height: 150px;
    width: 300px;
    background-color: #0668b8;
    z-index: -1000;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}