*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --rubik: 'Rubik', sans-serif;
}
header{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 200px;
}
article > img{
    width: 100%;
}
.tablet-e-favorito{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 70px;
}
.imagem-do-tablet{
    position: relative;
}
.imagem-do-tablet::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 65%;
    width: 76%;
    background-color: #0084ff;
    z-index: -1;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.gerenciador-favoritos{
    font-family: var(--rubik);
    font-size: 20px;
    margin: 0 25px;
    display: grid;
    text-align: center;
    gap: 20px;
}
h1{
    font-size: 30px;
}
button{
    font-family: var(--rubik);
    width: 100%;
    padding: 12px 5px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 8px black;
}
button:hover{
    cursor: pointer;
    background-color: blueviolet;
    transform: scale(0.9);
    transition: ease-in-out 1s;
}
.botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.link-chrome{
    background-color: rgb(6, 60, 236);
    color: #ffffff;
}
.caracteristicas{
    margin: 100px 25px;
    display: grid;
    gap: 30px;
    text-align: center;
    font-family: var(--rubik);
    font-size: 20px;
}
.informacoes-das-caracteristicas{
    display: grid;
    gap: 20px;
}
.atributos-dos-favoritos > p{
    padding: 20px;
}
.atributos-dos-favoritos > p:hover ::after{
    cursor: pointer;
    color: #ff0000;
}